<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div name="container" id="DDLcontainer0000"></div>
    <div name="container" id="DDLcontainer0001"></div>
    <div name="container" id="DDLcontainer0002"></div>
    <div name="container" id="DDLcontainer0003"></div>
    <div name="container" id="DDLcontainer0004"></div>



<script type="module" src="js/script.js"></script>
</body>

</html>