<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDL - Custom Control</title>
</head>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div name="ddl-label">1- المناطق (قائمة عادية - اختيار واحد)</div>
    <div name="container" id="DDLcontainer0000"></div>
    
    <div name="ddl-label">2- المناطق (قائمة عادية - اختيار واحد - بحث)</div>
    <div name="container" id="DDLcontainer0001"></div>
    
    <div name="ddl-label">3- المناطق (قائمة عادية - اختيار واحد - تصغير و تكبير - بحث)</div>
    <div name="container" id="DDLcontainer0002"></div>
    
    <div name="ddl-label">4- المناطق والمدن (قائمة عادية - اختيار متعدد - بحث - تحديد و إلغاء تحديد الكل)</div>
    <div name="container" id="DDLcontainer0003"></div>
    
    <div name="ddl-label">5- المناطق والمدن (قائمة عادية - اختيار متعدد - تصغير و تكبير - بحث - تحديد و إلغاء تحديد الكل)</div>
    <div name="container" id="DDLcontainer0004"></div>



<script type="module" src="js/script.js"></script>
</body>

</html>